<p>home works!</p>



<input type="text" [(ngModel)]="title">
<button (click)="save()">Save</button>



<button (click)="deleteAll()">Delete All</button>


  <!-- სტუქტურლი დრირექტიბა -->

  <h1  *ngIf="showError">Fill input</h1>

  <button (click)="showHideList()">Show List</button>

<ol *ngIf="showList">
    <li  *ngFor="let el of namesArr let i=index" >
         {{el}}   
        <button (click)="delete(i)">Delete</button>
     </li>
</ol>

<br>


<input type="text" [(ngModel)]="userName">
<input type="text" [(ngModel)]="userLastName">
<button (click)="add()">Add</button>



<div class="box" *ngFor="let el of userArr">
    <span>{{el.name  }}  </span> 
    <span>{{el.lastName}}</span>
</div>


<!-- <div class="list" *ngIf="showUsers">
<div [class]="listShows" >
<div class="card" style="width: 18rem;" *ngFor="let el of userArr">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{el.name}}</h5>
    <p class="card-text">{{el.lasrtname}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div> -->


<input type="text" [(ngModel)]="user">

<button (click)="printHi()">Print HI</button>



<button (click)="getProducts()">Get Products</button>

<input type="text" [(ngModel)]="useName">

<div class="card" style="width: 18rem;" *ngFor="let el of productArr">
  <img [src]="el.image" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <a routerLink="/details/{{el.id}}" class="btn btn-primary">See More</a>
  </div>
</div>

